@import url(https://fonts.googleapis.com/css?family=Droid+Sans);
html, body, :global(#root) {
  color: #000000;
  height: 100%;
  margin: 0px;
  box-sizing: border-box;
  font-family: Droid Sans;
  background-color: #ddeeff;
}
*, *:before, *:after {
  box-sizing: inherit;
}
a, button {
  color: #001177;
  cursor: pointer;
  outline: none;
  text-decoration: none;
}
a, button:hover {
  color: #112299;
}
.App {
  height: 100%;
  display: flex;
  flex-flow: column wrap;
  align-items: stretch;
  justify-content: space-around;
}
.Header {
  width: 100%;
  text-align: left;
}
.Welcome {
  display: inline-block;
  padding: 8px;
}
.ThemeSelector {
  float: right;
}
.ThemeName {
  border: 0;
  padding: 8px;
  background-color: #ccddee;
  font-size: inherit;
  color: inherit;
  cursor: pointer;
}
.ThemeName:hover {
  background-color: #bbccdd;
}
